<p>Simple Airbnb</p>
<%= link_to 'Add Flat', new_flat_path, class: 'btn btn-primary' %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>All our Flats (<%= @flats_count %>)</h1>
    </div>
  </div>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-4">
        <div class="flat-card">
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= flat.name %></h4>
            </div>
            <p>address: <%= flat.address %></p>
            <div class="flex">
              <div class="flex">
                <span>guests: <%= flat.number_of_guests %></span>
              </div>
              <div class="flex">
                <span>price per night: <%= flat.price_per_night %></span>
              </div>
            </div>
            <div class="flat-card-actions">
              <%= link_to 'More info' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>